<div class="padded">
  Record temperature data from <a href="http://threadex.rcc-acis.org/">ThreadEx</a> version 13.3 (includes data through 2017). Averages from <a href="https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/climate-normals/1981-2010-normals-data">NCDC 1981-2010 U.S. Climate Normals</a>.
</div>
