<div class="padded">
  Record temperature data from <a href="http://threadex.rcc-acis.org/">ThreadEx</a> version 16.3 (includes data through 2020). Averages from <a href="https://www.ncei.noaa.gov/products/land-based-station/us-climate-normals">NCDC 1991-2020 U.S. Climate Normals</a>.
</div>
