<div class="padded">
  All
  <a href="http://threadex.rcc-acis.org/links.html">data</a> from
  <a href="http://threadex.rcc-acis.org/">ThreadEx</a>
  <a href="http://threadex.rcc-acis.org/revisions.html">version 11</a> (includes 2015 data).
</div>
