<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>recordtemps.in</title>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font-family: monospace;
      margin: 1em auto;
      width: 50em;
    }
    .state {
      margin: 0 0 1em 0;
    }
    .state-name {
      font-size: 150%;
    }
    .station {
      display: inline-block;
      width: 49%;
    }
    .padded {
      padding: 1em 0;
    }
    .search-container {
      border-bottom: 1px solid #d4d4d4;
      width: 100%;
      padding-bottom: 0.5em;
    }
    .search-container input {
      border: 0;
      font-family: monospace;
      font-size: 150%;
      margin: 0;
      padding: 0.5em;
      text-align: center;
      width: 100%;
    }
    /* twitter typeahead overrides */
    .twitter-typeahead {
      width: 100%;
    }
    .tt-menu {
      background: #fff;
      border-bottom: 1px solid #d4d4d4;
      color: #000;
      width:100%;
    }
    div.tt-dataset div.tt-suggestion {
      cursor: pointer;
      padding: 3px 12px;
    }
    p.tt-suggestion {
      cursor: pointer;
      margin: 0;
      padding: 0.5em 0;
      font-size: 125%;
    }
    p.tt-suggestion:hover {
      background: #eee;
    }
    @media screen and (max-width: 680px) {
      body {
        font-size: 1.4em;
        margin: 1%;
        width: 98%;
      }
      .station {
        display: inline-block;
        width: 99%;
      }
      .search-container input {
        width: 98%;
      }
    }
  </style>
</head>
<body>

  {{{body}}}

</body>
</html>
