<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>recordtemperatures.in</title>
  <style>
    body {
      font-family: monospace;
      margin: 1em auto;
      width: 50em;
    }
    .state {
      margin: 0 0 1em 0;
    }
    .state-name {
      font-size: 150%;
    }
    .station {
      display: inline-block;
      width: 49%;
    }
    .padded {
      padding: 1em 0;
    }
  </style>
</head>
<body>

  {{{body}}}

</body>
</html>
